.biblio{
    background-image: url('../Images/fondobiblioteca.png');
    background-size: cover;
}

.encabezado{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

.carousel-container {
    position: relative;
    width: 95%;
    overflow: hidden; /* Evita que los botones se desborden fuera del contenedor */
  }

/* Estilos para los botones de navegación */
.carousel-control{
    width: 0%;

}

/* Estilos para el botón de retroceso */
.carousel-control-prev {
    filter: invert(100%);
    width: 40px;
    margin-left: -50px;
    margin-top: -50px;
}

/* Estilos para el botón de avance */
.carousel-control-next {
    filter: invert(100%);
    width: 40px;
    margin-right: -0px;
    margin-top: -50px;
}