.encabezado{
    background-color: darkgoldenrod;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.carousel-container {
    position: relative;
    width: 95%;
    overflow: hidden; /* Evita que los botones se desborden fuera del contenedor */
  }

/* Estilos para los botones de navegación */
.carousel-control{
    width: 0%;

}

/* Estilos para el botón de retroceso */
a.carousel-control-prev {
    filter: invert(100%);
    width: 40px;
    margin-left: -50px;
    margin-top: -50px;
}

/* Estilos para el botón de avance */
a.carousel-control-next {
    filter: invert(100%);
    width: 40px;
    margin-right: -0px;
    margin-top: -50px;
}