.MusicaContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.SongContainer {
  position: relative; /* Cambiado de 'fixed' a 'relative' */
  left: 10%;
  top: -18%;
  
}

.SongInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Cambiado de 'fixed' a 'relative' */
  left: 20%;
  top: -40%;

}

.SongTitle {
  display: flex;
  align-items: center;
}

.StarContainer {
  margin-left: -10%;
}
.Artista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15%;
  margin-left: -20.4%;
}

.Artista img {
  width: 35%;
  height: 50%;
  margin-left: 20%;
  object-fit: cover;
  border-radius: 50%;
}

.Artista h3 {
  margin-top: 4%;
  margin-left: 20%;
  font-size: 150%;
  text-align: center;
  color: solid black;
}

.CommentContainer {
 margin-left: 4%;
 margin-top: -23%;
}

.UserInputContainer {
  margin-left: 60%;
  margin-top: -29%;
  width: 70%;
 
}
.UserOpinion {
  width: 45%;
  height: 45%; ;
}
.CommentButton {
  margin-top: 10px;
  left: 76%;
}

.tabla{
  margin-left: 2%;
}
.CommentBox {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: -2%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 50%;
  word-wrap: break-word;
}

.CommnentTitle{
  margin-left: 7%;
  margin-top: 10%;
}
