.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}



.container {
  display: flex;
  height: 100vh;
  position: absolute;
  padding: 10px 10px;
}

.form-container {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.crear-cuenta-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30vw;
height: 75vh;
background-color: #78939882;
border-radius: 45px;
font-family: 'livvic';
position: absolute;
bottom: 18vh;
right: 20vw;
}

img {
margin-top: 0px;
margin-bottom: 20px;
}

form {
margin-left: 2vw;
display: flex;
flex-direction: column;
font-family: 'livvic';
font-size: 1.5vw;
line-height: 1;
}

label {
margin-bottom: 0.5vh;
}

input {
width: 22vw;
margin-bottom: 2vh;
border-radius: 5px;
border: black 2px;
}

.boton-aceptar {
width: 8vw;
display: block;
margin: 0 auto;
margin-top: 10vh;
}

@media screen and (min-height: 720px) {
input {
  margin-bottom: 5vh; /* Adjust this value as needed */
}
}