.content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../src/Images/fondo.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.cuadro-texto {
    text-align: center;
    padding: 10px;
    width: 70vw; 
    background-color:rgba(92, 107, 110, .7);
    border-radius: 45px;
    border: black 3px;
    color: white;
    font-family: 'livvic';
    font-size: 1.5vw;
    line-height: 1.9;
}

.cuadro-texto h2 {
    font-size: 2vw;
    font-weight: bold;
}

.cuadro-texto p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#botonCrearCuenta {
    margin-top: 20px; /* Espacio entre el texto y el botón */
    background-color: white;
    color: black;
    margin-right: 20px; /* Espacio entre los botones */
}

#botonCrearCuenta:hover {
    background-color: #455559;
    color: black;
}

#botonInicioSesion {
    margin-top: 20px;
    background-color: #00A9D3;
    color: white;
}

#botonInicioSesion:hover {
    color: black;
}
