.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content {
display: flex;
flex-grow: 1;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../src/Images/background.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

.cuadro-texto {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  right: 11vw;
  bottom: 9vh;

  padding: 10px;
  width: 70vw; 
  height: auto;
  margin-top: 30vh;
  background-color:rgba(92, 107, 110, .7);
  border-radius: 45px;
  border: black 3px;
  color: white;

  font-family: 'livvic';
  font-size: 1.5vw;
  line-height: 1.9;
}

.cuadro-texto h2 {
font-size: 2vw;
font-weight: bold;
}

.cuadro-texto p {
padding-bottom: 0px;
margin-bottom: 0px;
}


.boton-crear-cuenta {
  position: relative;
  left: 17vw;
}

.boton-crear-cuenta:hover {
background-color: #50656a;
color: black;
}