#musica {
  background-color: #E3E9EA;
  z-index: -1;
}

.carousel-container {
    position: relative;
    width: 95%;
    overflow: hidden; /* Evita que los botones se desborden fuera del contenedor */
  }

/* Estilos para los botones de navegación */
.carousel-control{
    width: 0%;

}

/* Estilos para el botón de retroceso */
a.carousel-control-prev {
    
    width: 40px;
    margin-left: -20px;
    color: black;
  }

/* Estilos para el botón de avance */
a.carousel-control-next {

    width: 40px;
    margin-right: -15px;
    color: black;
}