/* Estilos para el contenedor principal de la página de música */
.MusicaContainer {
  display: flex;
  padding: 1rem;
  max-width: 200%;
  max-height: 200%;
  margin: 0 auto;
}

/* Estilos para el contenedor del reproductor de música */
.SongContainer {

  border-width: 1px;
  padding-right: 39px;
  margin-left: 10px;
}

/* Estilos para el contenedor de la información de la canción */
.SongInfoContainer {
  width: 28%; /* Calcula el ancho para ocupar el espacio restante */
  height: 28%;
}


/* Estilos para el contenedor de las estrellas */
.StarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20%;
}

/* Estilos para el contenedor de comentarios */
.CommentContainer {
  width: 100%;
  margin-left: 20px;
}
.tabla{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 1rem; /* Espacio entre los comentarios */
  margin-bottom: 10px;
}

/* Estilos para los comentarios */
.CommentBox {
  width: 500px; /* Cada comentario ocupa todo el ancho disponible */
  border: 1px solid #ccc; /* Borde para cada comentario */
  padding: 3px; /* Espacio interno dentro del comentario */
  box-sizing: border-box; /* Incluye el borde en el ancho total */
  margin-bottom: 1px; /* Espacio entre comentarios */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo del comentario */
}

/* Estilos para el contenedor del cuadro de texto y el botón */
.UserInputContainer {
  padding-left: 20%;
  padding-top: 10%;

}

/* Estilos para el cuadro de texto de la opinión del usuario */
.UserOpinion {
  width: 400px;
  height: 150px;
  margin-bottom: 1px; /* Ajusta el espacio entre el cuadro de texto y el botón */
}

.NextCommentButton{
  margin-top: 5px;
}

    