.perfil-image{
    width: 230px;
    height: 230px;
    margin-left: 460px;
    margin-top: 70px;
}
.nombre{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.descripcion {
    margin-top: 50px;
    margin-left: 80px;
}

.descripcion-text{
    margin-left: 80px;
    
}

