.container-topnav {
    position: fixed;
    width: 100%; /* Establece el ancho al 100% */
    z-index: 100;
}

#navbarcontainer {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar {
    background-color: #283033;
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

.nombre {
    margin-left: 0.5rem;
    color: white;
    flex-grow: 1;
}

.tituloPagina{
    color: white;
    flex-grow: 1;
}

.registro {
    font-size: 23px;
    background-color: #ebfdff;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-right: 10px;
    border-radius: 5px;
}

.registro:hover {
    background-color: #cef8ff;
}

.inicioSesion {
    font-size: 23px;
    background-color: #00A9D3;
    color: white;
    border: none;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px; /* Añade un poco de redondez al botón */
}

.inicioSesion:hover {
    background-color: #0a6f94; /* Cambia el color de fondo al pasar el cursor */
}

.username {
    color: white;
    margin-right: 1rem; /* Ajusta el margen a tu preferencia */
}

.username-topnav {
    display: flex;
    color:white;
    font-size: 2vh;
}

.h2-topnav {
    color: white;
    box-shadow: #283033;
}

.imagenPerfil-topnav {
    width: 6vh;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 1vh;
    
}


